:root {
  --altura-linha: 40px;

  --cor-papel: #f4ecd8;
  --cor-linha: #94a3b8;
  --cor-linha-meio: #8a9aac;
  --cor-texto: #1a1a1a;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Just Another Hand", cursive;
}

#root {
  height: 100%;
}

.cenario-mesa {
  background-color: rgb(0 127 127);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.area-caderno-container {
  width: 900px;
  height: 600px;
  position: relative;
  margin-bottom: 95px;
}

.papel-com-linhas {
  position: absolute;
  top: -3%;
  left: -4%;
  width: 98%;
  height: 107%;
  padding: 39px 40px;
  overflow-y: hidden;
  border-radius: 28px;
  background-color: var(--cor-papel);
  box-shadow: 12px 15px 20px 0px rgb(0 0 0 / 40%);
  column-count: 2;
  column-gap: 80px;
  border: 14px solid #535050;
  column-fill: auto;
  background-image:
    linear-gradient(
      to right,
      transparent 49.8%,
      var(--cor-linha-meio) 49.8%,
      var(--cor-linha-meio) 50.2%,
      transparent 50.2%
    ),
    repeating-linear-gradient(
      to bottom,
      var(--cor-linha) 0px,
      var(--cor-linha) 2px,
      transparent 2px,
      transparent var(--altura-linha)
    );
}

li,
.input-caderno {
  height: var(--altura-linha);
  line-height: var(--altura-linha);

  font-size: 30px;
  color: var(--cor-texto);
  font-family: "Just Another Hand", cursive;

  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  outline: none;
  box-sizing: border-box;

  padding-top: 6px;
  padding-left: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li:before {
  content: "•";
  margin-right: 10px;
  color: #555;
  font-size: 0.8em;
}

.form-caderno {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.input-caderno {
  width: 100%;
}

.input-caderno::placeholder {
  color: #94a3b8;
  opacity: 0.6;
  font-style: italic;
}

.btn-escondido {
  display: none;
}

li,
.form-caderno {
  break-inside: avoid;
  page-break-inside: avoid;

  display: flex;
}

.botao-tarefa-caderno {
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: #1a1a1a;
  cursor: pointer;
  padding: 0;
  text-align: left;
  text-decoration: underline;
}
.botao-tarefa-caderno:hover {
  color: #0056b3;
}

.botao-voltar {
  background: none;
  border: none;
  cursor: pointer;

  font-family: inherit;
  font-size: 1.1em;
  color: #0056b3;

  padding: 0;
  margin: 0;

  transition: transform 0.2s;
}

.botao-voltar:hover {
  text-decoration: underline;
  transform: translateX(-5px);
}

.botao-excluir {
  background: none;
  border: none;
  cursor: pointer;

  font-family: inherit;
  font-size: 1em;

  color: #c0392b;

  padding: 0;
  margin: 0;
  transition: all 0.2s;
}

.botao-excluir:hover {
  font-weight: bold;
  text-decoration: line-through;
  color: #e74c3c;
}
